* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Fonts */
@font-face {
	font-family: 'Inter';
	src: url('./assets/fonts/inter/Inter-Regular.ttf'), format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Inter';
	src: url('./assets/fonts/inter/Inter-SemiBold.ttf'), format('truetype');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Inter';
	src: url('./assets/fonts/inter/Inter-SemiBoldItalic.ttf'), format('truetype');
	font-weight: 600;
	font-style: italic;
}
@font-face {
	font-family: 'Inter';
	src: url('./assets/fonts/inter/Inter-Bold.ttf'), format('truetype');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Manrope';
	src: url('./assets/fonts/manrope/Manrope-Regular.ttf'), format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Manrope';
	src: url('./assets/fonts/manrope/Manrope-Bold.ttf'), format('truetype');
	font-weight: 700;
	font-style: normal;
}
/* Fonts */

:root {
	--font-family: 'Inter', sans-serif;
	--second-family: 'Manrope', sans-serif;
}
:root {
	--text-primary: #403f3d;
	--text-inverse: #e1d4c9;
	--text-accent: #b0907a;
	--background-page: #e1d4c9;
	--background-container: #665f55;
	--background-overlay: rgba(64, 63, 61, 0.8);
	--border-primary: #c1b6ad;
	--border-inverse: #665f55;
	--text-primary: #403f3d;
	--dark-text-primary: #e1d4c9;
	--dark-text-inverse: #e1d4c9;
	--dark-text-accent: #b0907a;
	--dark-bg-page: #292826;
	--dark-bg-container: #403f3d;
	--dark-bg-overlay: rgba(41, 40, 38, 0.8);
	--dark-border-primary: #665f55;
	--dark-border-inverse: #c1b6ad;
	--background-modal: #e1d4c9;
	--background-modalcontrol: #665f55;
	--dark-bg-modal: var(--dark-bg-container);
	--dark-bg-modal-control: var(--dark-bg-page);
}

body {
	background-color: #e1d4c9;
}
.wrapper-container {
	max-width: 1440px;
	margin: 0 auto;
}

.header__container {
	margin: 20px 40px 0 40px;
}
.header__menu {
	display: flex;
	justify-content: space-between;
}

.header__navbar {
	display: flex;
	align-items: center;
	margin-right: 55px;
}
.navbar__container {
	display: flex;
	flex-direction: row;
	list-style: none;
	font-family: 'Inter', sans-serif;
	line-height: 150%;
}
.navbar__container li a {
	text-decoration: none;
	color: black;
}
.navbar__container li:nth-child(1),
.navbar__container li:nth-child(2),
.navbar__container li:nth-child(3) {
	margin-right: 40px;
}

.header__actions {
	display: flex;
	gap: 22px;
}
.theme__switch {
	display: flex;
	border: 1px solid #c1b6ad;
	border-radius: 100px;
	margin-top: 8px;
	padding: 6px;
	gap: 6px;
	width: 88px;
	height: 44px;
}
.coffee__menu {
	display: flex;
	align-items: center;
	flex-direction: row;
	gap: 8px;
	cursor: pointer;
}

.coffee__menu h2 {
	font-family: var(--font-family);
	font-weight: 600;
	font-size: 16px;
	line-height: 150%;
	color: var(--text-primary);
}
.coffee__menu a {
	display: flex;
	text-decoration: none;
	gap: 10px;
	padding-bottom: 5px;

	/* анимация */
	background: linear-gradient(var(--text-primary), var(--text-primary)) bottom
		left / 0% 3px no-repeat;

	transition: background-size 0.3s ease;
}

.coffee__menu a:hover {
	background-size: 100% 2px;
}

.header__hero {
	margin-top: 16px;
	border-radius: 40px;
	padding: 100px;
	width: 1360px;
	height: 644px;
	max-width: 1360px;
	background-image: url('./assets/img/hero.gif');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.hero__container {
	max-width: 530px;
	max-height: 444px;
	background-color: transparent;
}
.hero__title {
	font-family: var(--font-family);
	font-weight: 600;
	font-style: italic;
	font-size: 72px;
	line-height: 105%;
	color: var(--text-inverse);
	background-color: transparent;
}
.hero__title span {
	color: var(--text-accent);
	background-color: transparent;
}
.hero__container p {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	color: var(--text-inverse);
	background-color: transparent;
	padding-top: 40px;
	margin-bottom: 60px;
}
.hero__container a {
	margin-top: 40px;
	border-radius: 100px;
	padding: 20px 78px;
	max-width: 200px;
	max-height: 64px;
	text-align: none;
	border: 0;
	font-family: var(--font-family);
	font-weight: 600;
	font-size: 16px;
	line-height: 150%;
	text-align: center;
	color: var(--text-primary);
	cursor: pointer;
	background: var(--text-inverse);
	text-decoration: none;
}
/* Header /

/* Main */

.main {
	margin: 20px 40px 0 40px;
}
.favorite__container {
	margin-top: 100px;
}
.favorite__container h2 {
	font-family: var(--font-family);
	font-weight: 600;
	font-size: 60px;
	line-height: 125%;
	text-align: center;
	color: var(--text-primary);
}
.favorite__container h2 span {
	font-style: italic;
	color: var(--text-accent);
}
.favorite__slider {
	display: flex;
	align-items: center;
	margin-top: 40px;
	gap: 379px;
}
.slider__content {
	text-align: center;
}
.slider__content h3 {
	font-family: var(--font-family);
	font-weight: 600;
	font-size: 24px;
	line-height: 125%;
	text-align: center;
	color: var(--text-primary);
	padding-bottom: 16px;
	padding-top: 20px;
}
.slider__content p {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	text-align: center;
	color: var(--text-primary);
	padding-bottom: 16px;
}
.slider__content span {
	font-family: var(--font-family);
	font-weight: 600;
	font-size: 24px;
	line-height: 125%;
	text-align: center;
	color: var(--text-primary);
}
.btn__left-dark {
	border: 1px solid var(--background-container);
	border-radius: 100px;
	width: 60px;
	height: 60px;
	padding: 22px;
}
.btn__right-dark {
	border: 1px solid var(--background-container);
	border-radius: 100px;
	width: 60px;
	height: 60px;
	padding: 22px;
}
.hero__pagination {
	display: flex;
	margin-top: 40px;
	justify-content: center;
	gap: 12px;
}

.about__container {
	margin-top: 100px;
}
.about__content {
	display: flex;
	flex-direction: column;
}

.about__title {
	font-family: var(--font-family);
	font-weight: 600;
	font-size: 59px;
	line-height: 125%;
	color: var(--text-primary);
}
.about__title span {
	font-style: italic;
	color: var(--text-accent);
}

.about__pics {
	display: flex;
	margin-top: 40px;
	gap: 40px;
}

.about__pics img {
	object-fit: cover;
}
.about__pics-left {
	display: flex;
	flex-direction: column;
	gap: 40px;
}
.about__pics-right {
	display: flex;
	flex-direction: column;
	gap: 40px;
}
.left__1 {
	border-radius: 20px;
	width: 660px;
	height: 590px;
}
.left__2 {
	border-radius: 20px;
	width: 660px;
	height: 430px;
}
.right__1 {
	border-radius: 20px;
	width: 660px;
	height: 430px;
}
.right__2 {
	border-radius: 20px;
	width: 660px;
	height: 590px;
}

.mobileapp__container {
	margin-top: 100px;
}
.mobileapp__content {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 120px;
}
.mobileapp__titles {
	display: flex;
	flex-direction: column;
	gap: 40px;
}
.mobileapp__download {
	font-family: var(--font-family);
	font-weight: 600;
	font-style: italic;
	font-size: 61px;
	line-height: 125%;
	color: var(--text-primary);
}
.mobileapp__download span {
	color: var(--text-accent);
}
.mobileapp__download-desc {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	color: var(--text-primary);
}
.download__buttons {
	display: flex;
	gap: 20px;
}
.download__appstore {
	display: flex;
	border: 1px solid var(--background-container);
	border-radius: 100px;
	padding: 12px 20px;
	width: 200px;
	height: 64px;
}
.download__android {
	display: flex;
	border: 1px solid var(--background-container);
	border-radius: 100px;
	padding: 12px 20px;
	width: 200px;
	height: 64px;
}
.download__appstore svg {
	margin-right: 15px;
}
.download__android svg {
	margin-right: 8px;
}
.download__top {
	font-family: var(--font-family);
	font-weight: 600;
	font-size: 10px;
	line-height: 140%;
	color: var(--text-primary);
}
.download__low {
	font-family: var(--font-family);
	font-weight: 600;
	font-size: 16px;
	line-height: 150%;
	color: var(--text-primary);
}

.footer {
	border-radius: 40px;
	padding: 100px;
	background: var(--background-container);
	margin: 97px 40px 40px 40px;
}
.footer__content {
	display: flex;
	background: var(--background-container);
	gap: 130px;
}
.footer__content-left {
	display: flex;
	flex-direction: column;
	gap: 37px;
}
.footer__content-left div {
	background: var(--background-container);
}
.footer__desc-1 {
	font-family: var(--font-family);
	font-weight: 600;
	font-size: 60px;
	line-height: 125%;
	color: var(--text-inverse);
}
.footer__desc-2 {
	font-family: var(--font-family);
	font-weight: 600;
	font-size: 60px;
	line-height: 125%;
	font-style: italic;
	color: var(--text-accent);
}
.footer__socials svg {
	border: 1px solid var(--border-primary);
	border-radius: 100px;
	padding: 16px;
	width: 60px;
	height: 60px;
	margin-right: 12px;
}
.footer__content-right {
	margin-top: 30px;
}
.footer__contacts {
	font-family: var(--font-family);
	font-weight: 600;
	font-size: 24px;
	line-height: 125%;
	color: var(--text-inverse);
	margin-bottom: 40px;
}
.footer__address {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.footer__address div {
	display: flex;
	flex-direction: row;
}
.footer__address p {
	font-family: var(--font-family);
	font-weight: 600;
	font-size: 16px;
	line-height: 150%;
	color: var(--text-inverse);
}
.footer__address svg {
	margin-right: 8px;
}
